<link rel="stylesheet" href="{{ asset('assets/css/styleSocial.css')}}">

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>affiche mon premier exercice en symfony</title>

</head>