<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>affiche mon premier exercice en symfony</title>

</head>
<body>
<header>
    <p  align="center" class="logo">met ton logo ici</p>
    <nav class="menu">
        <ul>
            <li>presentation</li>
            <li>service</li>
            <li>artistes</li>
            <li>studios</li>
            <li>editions</li>
            <li>contact</li>
        </ul>
    </nav>
</header>
