    <html>
    {% include 'common/_header.html.twig' %}
    <body>
        <main>
            <p class="image1" alt="mon premiere image">
                <img src="../public/images/mon_premier_img.png"><br>
            </p>
            <h1>le titre de mon premier image</h1>
            <p class="image2" alt="mon premiere image">
                <img src="../public/images/mon_deuxieme_img.png"><br>
            </p>
            <h1>le titre de mon premier image</h1>
            <p class="image3" alt="mon premiere image">
                <img src="../public/images/mon_troisieme_img.png"><br>
            </p>
            <h1>le titre de mon premier image</h1>
            <p class="image4" alt="mon premiere image">
                <img src="../public/images/mon_quatrieme_img.png"><br>
            </p>
            <h1>le titre de mon premier image</h1>
            <p class="image5" alt="mon premiere image">
                <img src="../public/images/mon_cinquieme_img.png"><br>
            </p>
            <h1>le titre de mon premier image</h1>
            <p class="image6" alt="mon premiere image">
                <img src="../public/images/mon_sixieme_img.png"><br>
            </p>
            <h1>le titre de mon premier image</h1>
        </main>

        {% include 'common/_footer.html.twig' %}
    </body>

    </html>